.aboutus {
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 700px;
  display: flex;
  box-sizing: border-box;
  // align-items: center;
  justify-content: space-between;
  // white-space: nowrap;

  .about_left .about_right{
    flex: 1;
  }

  img {
    margin-left: 60px;
    width: 550px;
    height: auto;
  }

  .about_right {
    position: relative;
    margin: auto 0px;
    width: 100vw;
    height: 700px;
    // background-color: beige;
    display: flex;
    justify-content: center;
    align-items: center;

    .maintitle{
      width: 500px;
      height: 150px;

      h2 {
          font-size: 14px;
          font-weight: bold;
          // padding-bottom: 20px;
        }
  
    }
  
 
    .aboutus {
      width: 100%;
      font-size: 12px;
    
      p {
        font-size: 12.5px;
      }
    }
  }
  
}
