.aboutus {
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 700px;
  display: flex;
  box-sizing: border-box;
  // align-items: center;
  justify-content: space-between;
  // white-space: nowrap;

  @media screen and (max-width: 954px) {
    display: block;
    height: none;
  }

  @media screen and (max-width: 493px) {
    height: 570px;
  }

  .about_left .about_right{
    flex: 1;

    @media screen and (max-width: 954px) {
      flex: none;
    }
  }

  img {
    margin-left: 60px;
    width: 550px;
    height: auto;

    @media screen and (max-width: 954px) {
      width: 350px;
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      margin: 0px;
    }

    @media screen and (max-width: 493px) {
      width: 250px;
    }
  }

  .about_right {
    position: relative;
    margin: auto 0px;
    width: 100vw;
    height: 700px;
    // background-color: beige;
    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: 954px) {
      align-items: start;
      }

    .maintitle{
      position: relative;
      width: 35vw;
      height: 150px;
      // background-color: red;
      word-wrap: break-word;

      @media screen and (max-width: 954px) {
        left: 30px;
        width: 450px;
      }

      @media screen and (max-width: 493px) {
        left: 0px;
        width: 300px;
      }

      @media screen and (max-width: 280px) {
        left: 5px;
        width: 250px;
      }

      h2 {
          font-size: 14px;
          font-weight: bold;
          // padding-bottom: 20px;
        }
  
    }
  
 
    .aboutus {
      width: 100%;
      font-size: 12px;
    
      p {
        font-size: 12.5px;
      }
    }
  }
  
}
