.titleArea {
  width: 100%;
  padding-top: 100px;
  text-align: center;

  h2 {
    font-size: 24px;
    font-weight: bold;
  }
}

.agreement {
  position: relative;
  margin: auto;
  max-width: 1200px;
  padding: 30px 50px;
  font-size: 14px;
  word-break: break-all;
}
