.detail_sub_image_totalContainer {
    position: relative;
    right: 70px;
    // background-color: beige;
    flex: 4;
    display: flex;
    justify-content:right;
    align-items: center;
    gap: 110px;


}