.header_client {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  background-color: white;
  position: relative;
  border-bottom: solid 0.5px black;
  height: 70px;
  width: 100vw;
  padding: 0 50px;
  font-size: 16px;

  @media screen and (max-width: 1144px) {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(1, 1fr);
  }

  @media screen and (max-width: 767px) {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    padding: 0 20px;
  }

  .logo {
    grid-column: 1 / 2;
    grid-row: 1/1;
    position: relative;
    justify-self: start;
    cursor: pointer;
    font-size: 50px;
    font-weight: 600;
    font-style: italic;

    @media screen and (max-width: 1144px) {
      grid-column: 1 / 2;
    }

    @media screen and (max-width: 767px) {
      grid-column: 2 / 3;
      justify-self: center;
      font-size: 50px;
      text-align: center;
    }
  }

  #cate {
    display: block;
    grid-column: 2 / 3;
    grid-row: 1/1;
    display: flex;
    list-style: none;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding-left: 22px;

    @media screen and (max-width: 1144px) {
      grid-column: 2 / 5;
      padding-left: 40px;
    }

    p {
      padding: 0px 20px;
      cursor: pointer;
      &:active {
        color: #a0a0a0;
      }
    }
  }

  .burger_menu_container {
    grid-column: 1 / 2;
    grid-row: 1 / 1;
    position: relative;
    justify-self: start;
    cursor: pointer;
    // background-color: #a0a0a0;
  
    .material-symbols-sharp.burgerIcon.on {
     display: block;
     position: relative;
     top: 12px;
     font-size: 40px;
     cursor: pointer;

     font-variation-settings:
     'FILL' 0,
     'wght' 200,
     'GRAD' 0,
     'opsz' 48
    }

    .material-symbols-sharp.burgerIcon.off {
      display: none;
    }
    
    .material-symbols-sharp.burgerClose.on{
      display: block;
      position: relative;
      top: 12px;
      font-size: 40px;
      cursor: pointer;

      font-variation-settings:
      'FILL' 0,
      'wght' 200,
      'GRAD' 0,
      'opsz' 48
    }

    .material-symbols-sharp.burgerClose.off{
      display: none;
    }
   }

  #cate2 {
    grid-column: 3 / 4;
    grid-row: 1/1;
    padding: 0px;
    margin: 0px;
    display: flex;
    list-style: none;
    justify-self: end;
    text-align: center;
    align-items: center;

    @media screen and (max-width: 1144px) {
      grid-column: 5 / 6;
    }

    @media screen and (max-width: 767px) {
      grid-column: 3 / 4;
    }

    li {
      padding-left: 20px;
      cursor: pointer;
      &:active {
        color: #a0a0a0;
      }
    }

    #search_container{
      cursor: default;
      position: relative;
      align-items: center;
      text-align: center;
      // background-color: #656565;
      display: flex;
      bottom: 8px;
      margin-right: 10px;
      padding: 0px;
      &:active {
        user-select: none;
      }
    
    .searchInput.on {
      position: relative;
      left: 0px;
      font-size: 14px;
      opacity: 1;
      width: 157px;
      transition: 0.4s ease;
      transform-origin: right;
      &::placeholder {
      font-size: 12px;
      color: #a0a0a0;
      &:active {
        user-select: none;
      }
    }
    }  
    
    .searchInput.off {
      position: relative;
      padding: 0px;
      margin: 0px;
      border: 0px;
      width: 0px;
      left: 10px;
      opacity: 0;
      transition: 0.4s ease;
      transform-origin: right;
      &:active {
        user-select: none;
      }
    }
      .material-symbols-outlined.search {
        cursor: pointer;
      &:active {
        color: #a0a0a0;
      }
      }
    
    }
  }
}

  // MAIN MENU
 




.cart_modal.off {
  transform: translateX(360px);
  transition: transform 0.5s ease-out;
}

.cart_modal.on {
  transform: translateX(0px);
  transition: transform 0.5s ease-out;
}



.material-symbols-outlined.search {
  position: relative;
}



.adminBTN {
  position: absolute;
  margin-left: 155px;
  width: 150px;
  height: 30px;
  font-size: 13px;
  font-weight: bold;
  border-radius: 50px;
  background-color: white;
  border: 2px solid black;
  transition: 0.3s ease;

  &:hover {
    background-color: rgb(0, 0, 0);
    color: white;
    border: none;
  }
}

//쿼리영역----------
.material-symbols-outlined.header_login_mediaQ {
  position: relative;
  font-size: 27px;
  bottom: 4px;
  right: 5px;
}

.header_beg_container_media {
  position: relative;

 .material-symbols-sharp.header_beg_icon_media {
  position: relative;
  font-size: 40px;
  bottom: 8px;


  .header_beg_count_media {
    position: relative;
    bottom: 11px;
    right: 25px;
    font-size: 10px;
   } 

  font-variation-settings:
  'FILL' 0,
  'wght' 300,
  'GRAD' -25,
  'opsz' 48
 }
}


.burger_menu_list {
  position: absolute;
  top: 69px;
  z-index: 999;
  list-style: none;
  background-color: white;
  // border-left: 0.5px solid black;
  border-right: 0.5px solid black;
  border-bottom: 0.5px solid black;
  padding: 30px;
  padding-bottom: 10px;

  li {
    cursor: pointer;
    &:active {
      color: #a0a0a0;
    }
    p{
      margin-bottom: 20px;
    }
  }
 }