.header_client {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  background-color: white;
  position: relative;
  border-bottom: solid 0.5px black;
  height: 70px;
  width: 100vw;
  padding: 0 50px;
  font-size: 16px;

  @media screen and (max-width: 1144px) {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(1, 1fr);
  }

  @media screen and (max-width: 767px) {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    padding: 0 20px;
  }

  .logo {
    grid-column: 1 / 2;
    grid-row: 1/1;
    position: relative;
    justify-self: start;
    cursor: pointer;
    font-size: 50px;
    font-weight: 600;
    font-style: italic;

    @media screen and (max-width: 1144px) {
      grid-column: 1 / 2;
    }

    @media screen and (max-width: 767px) {
      grid-column: 2 / 3;
      justify-self: center;
      font-size: 50px;
      text-align: center;
    }

    @media screen and (max-width: 280px) {
      font-size: 40px;
    }
  }

  #cate {
    display: block;
    grid-column: 2 / 3;
    grid-row: 1/1;
    display: flex;
    list-style: none;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding-left: 22px;

    @media screen and (max-width: 1144px) {
      grid-column: 2 / 5;
      padding-left: 40px;
    }

    p {
      padding: 0px 20px;
      cursor: pointer;
      &:active {
        color: #a0a0a0;
      }
    }
  }

  .burger_menu_container {
    grid-column: 1 / 2;
    grid-row: 1 / 1;
    position: relative;
    justify-self: start;
    cursor: pointer;
    z-index: 7;
    // background-color: #a0a0a0;
  
    .material-symbols-sharp.burgerIcon.on {
     display: block;
     position: relative;
     top: 12px;
     font-size: 40px;
     cursor: pointer;

     font-variation-settings:
     'FILL' 0,
     'wght' 200,
     'GRAD' 0,
     'opsz' 48
    }

    .material-symbols-sharp.burgerIcon.off {
      display: none;
    }
    
    .material-symbols-sharp.burgerClose.on{
      display: block;
      position: relative;
      top: 12px;
      font-size: 40px;
      cursor: pointer;

      font-variation-settings:
      'FILL' 0,
      'wght' 200,
      'GRAD' 0,
      'opsz' 48
    }

    .material-symbols-sharp.burgerClose.off{
      display: none;
    }
   }

  #cate2 {
    grid-column: 3 / 4;
    grid-row: 1/1;
    padding: 0px;
    margin: 0px;
    display: flex;
    list-style: none;
    justify-self: end;
    text-align: center;
    align-items: center;

    @media screen and (max-width: 1144px) {
      grid-column: 5 / 6;
    }

    @media screen and (max-width: 767px) {
      grid-column: 3 / 4;
    }

    li {
      padding-left: 20px;
      cursor: pointer;
      &:active {
        color: #a0a0a0;
      }
    }

    #search_container{
      cursor: default;
      position: relative;
      align-items: center;
      text-align: center;
      // background-color: #656565;
      display: flex;
      bottom: 8px;
      margin-right: 10px;
      padding: 0px;
      &:active {
        user-select: none;
      }
    
    .searchInput.on {
      position: relative;
      left: 0px;
      font-size: 14px;
      opacity: 1;
      width: 157px;
      transition: 0.4s ease;
      transform-origin: right;
      &::placeholder {
      font-size: 12px;
      color: #a0a0a0;
      &:active {
        user-select: none;
      }
    }
    }  
    
    .searchInput.off {
      position: relative;
      padding: 0px;
      margin: 0px;
      border: 0px;
      width: 0px;
      left: 10px;
      opacity: 0;
      transition: 0.4s ease;
      transform-origin: right;
      &:active {
        user-select: none;
      }
    }
      .material-symbols-outlined.search {
        cursor: pointer;
      &:active {
        color: #a0a0a0;
      }
      }
    
    }
  }
}


.cart_modal.off {
  transform: translateX(360px);
  transition: transform 0.5s ease-out;
}

.cart_modal.on {
  transform: translateX(0px);
  transition: transform 0.5s ease-out;
}



.material-symbols-outlined.search {
  position: relative;
}



.adminBTN {
  position: absolute;
  margin-left: 155px;
  width: 150px;
  height: 30px;
  font-size: 13px;
  font-weight: bold;
  border-radius: 50px;
  background-color: white;
  border: 2px solid black;
  transition: 0.3s ease;

  &:hover {
    background-color: rgb(0, 0, 0);
    color: white;
    border: none;
  }
}

//쿼리영역----------
.material-symbols-outlined.header_login_mediaQ {
  position: relative;
  font-size: 27px;
  bottom: 4px;
  right: 5px;

  @media screen and (max-width: 400px) {
    font-size: 23px;
    bottom: 0px;
    right: -10px;
    }

    @media screen and (max-width: 280px) {
      right: -25px;
      }
}

.header_beg_container_media {
  position: relative;
  @media screen and (max-width: 400px) {
    left: 10px;
    }

 .material-symbols-sharp.header_beg_icon_media {
  position: relative;
  font-size: 40px;
  bottom: 8px;

  @media screen and (max-width: 400px) {
    font-size: 29px;
    bottom: 3px;
    }

  font-variation-settings:
  'FILL' 0,
  'wght' 300,
  'GRAD' -25,
  'opsz' 48
 }

 .header_beg_count_media {
  position: absolute;
  bottom: 19px;
  right: 5px;
  font-size: 13px;
  font-weight: bold;
  text-align: center;
  // background-color: #a0a0a0;
  width: 30px;

  @media screen and (max-width: 400px) {
    font-size: 12px;
    bottom: 11px;
    left: -0.5px;
    }
 } 
}


.burger_menu_list {
  position: absolute;
  top: 69px;
  z-index: 999;
  list-style: none;
  background-color: white;
  // border-left: 0.5px solid black;
  border-right: 0.5px solid black;
  border-bottom: 0.5px solid black;
  padding: 30px;
  padding-bottom: 10px;

  li {
    cursor: pointer;
    &:active {
      color: #a0a0a0;
    }
    p{
      margin-bottom: 20px;
    }
  }
 }

 .material-symbols-outlined.search_react {
  position: relative;
  bottom: 8px;
  margin-right: 10px;
  cursor: pointer;
  z-index: 3;
  &:active {
    color: #a0a0a0;
  }

  @media screen and (max-width: 575px) {
  position: absolute;
  top: 75px;
  right: 25px;
  }

  @media screen and (max-width: 280px) {
    position: absolute;
    right: 0px;
    }
}

.search_react_modal_container{
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .search_react_modal_bg {
    position: absolute;
    background-color: white;
    opacity: 0.8;
    width: 100vw;
    height: 100vh;
    z-index: 5;
  }

  .search_react_modal_input{
    position: relative;
    bottom: 100px;
    flex: none;
    display: block;
    margin: 0 auto;
    opacity: 1;
    z-index: 7;
    width: 400px;
    height: 50px;
    border-radius: 20px;
    border: 1px solid black;
    padding: 20px;

    @media screen and (max-width: 400px) {
      width: 300px;
    }

    @media screen and (max-width: 280px) {
      width: 220px;
    }
  }

  .search_react_modal_desc {
    position: relative;
    bottom: 95px;
    flex: none;
    display: block;
    margin: 0 auto;
    z-index: 7;
    text-align: center;
    font-size: 15px;
  }

  flex-direction: column;
}

.material-symbols-sharp.account_react {
  cursor: pointer;
  font-size: 35px;
  position: relative;
  bottom: 6.5px;

  @media screen and (max-width: 400px) {
    font-size: 25px;
    bottom: 2px;
    left: 20px;
    }

  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48

  
}

.account_close_container{
  width: 68.344px;

  .material-symbols-sharp.account-close {
    position: relative;
    bottom: 5px;
    font-size: 30px;
  }
}

.material-symbols-sharp.account-close2 {
  position: relative;
  bottom: 5px;
  font-size: 35px;

  @media screen and (max-width: 400px) {
    font-size: 25px;
    bottom: 0px;
    left: 20px;
    }
}
 
.intro_nav_bar{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 50px;
  border-bottom: 0.5px solid black;
  border-left: 0.5px solid black;
  border-right:  0.5px solid black;;
  p {
    margin: 0px;
    padding: 20px;
    cursor: pointer;
    &:active {
      color: #a0a0a0;
    }

    @media screen and (max-width: 280px) and (max-height: 653px) {
      padding: 10px;
      
    }
  
  }
}

#cate_li2 {
  @media screen and (max-width: 280px) {
    padding-left: 0px !important;
  }
}

.loading {
  background-color: white;
  position: absolute;
}

.loading2 {
  background-color: white;
  position: relative;
}