header.header_admin {
  // background-color: red;
  box-sizing: border-box;
  position: relative;
  border-bottom: solid 0.5px black;
  height: 70px;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content:space-between;
  white-space: nowrap;
  padding: 0px 50px;
  background-color: white;

  @media screen and (max-width: 667px) {
    padding: 0px 30px;
  }


  .logo {
    position: relative;
    flex-shrink: 0;
    cursor: pointer;
    font-size: 50px;
    font-weight: 600;
    font-style: italic;
    margin-bottom: 0px;

    @media screen and (max-width:425px) {
      font-size: 35px;
    }
  }

  .adminPage {
    display: flex;
    gap: 50px;
    align-items: center;

    .adminName {
      position: relative;
      margin-bottom: 0px;
      font-size: 15px;

      @media screen and (max-width: 525px) {
        display: none;
      }
    }
  }
}