.intro_moive{
  position: relative;
  width: 100vw;
  height: 700px;
  overflow: hidden;


  @media screen and (max-width: 767px) {
    height: 550px;
  }

  @media screen and (max-width: 1180px) and (max-height: 820px) {
    height: 600px;
  }

  @media screen and (max-width: 1024px) and (max-height: 768px) {
    height: 550px;
  }

  @media screen and (max-width: 375px) and (max-height: 667px) {
    height: 400px;
  }

  .intro_moive_container{
    position: relative;
    // background-color: beige;
    width: 1700px;
    height: 710px;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .wrap {
    position: relative;
    top: 0px;
    width: 1680px;
    height: auto;
  }
}