.login_client {
  position: relative;
  // 수평중앙정렬 방법 1
  width: 100vw;
  height: 700px;
  overflow: hidden;

  @media screen and (max-width: 414px) {
    height: 600px;
  }

  @media screen and (max-width: 375px) {
    height: 460px;
  }

  @media screen and (max-width: 280px) {
    height: 420px;
  }
  // background-color: #f7e600;

  // 수평중앙정렬 방법 2




  .login_client_container{
    position: relative;
    // background-color: beige;
    width: 500px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

    @media screen and (max-width: 280px) {
      top: 55%;
    }

    .login_title {
      font-size: 20px;
      margin: 0px;
    }
  
    .login_input {
      width: 330px;
      height: 35px;
      margin-bottom: 10px;
      padding: 10px;

      @media screen and (max-width: 280px) {
        width: 250px;
      }
    }
  
    .login_btn {
      width: 330px;
      height: 35px;
      margin-top: 20px;
      color: white;
      background-color: black;
      border: 1px solid black;
      border-radius: 50px;
      // box-shadow: 5px 5px 5px lightgray;
      transition: 0.3s all;

      @media screen and (max-width: 280px) {
        width: 250px;
      }
  
      &:hover {
        background-color: rgb(255, 255, 255);
        color: rgb(0, 0, 0);
      }
      &:active {
        background-color: rgb(0, 0, 0);
        color: white;
      }
    }
  
    .login_btn.white {
      color: black;
      background-color: white;
      margin-top: 10px;
      transition: 0.3s all;
  
      &:hover {
        background-color: rgb(0, 0, 0);
        color: white;
      }
      &:active {
        background-color: rgb(255, 255, 255);
        color: rgb(0, 0, 0);
      }
    }
  }

  
}
