.myPage_container {
  position: relative;
  // background-color: antiquewhite;
  width: 100vw;
  min-height: 700px;

  //타이틀 영역
  .titleArea {
    width: 100vw;
    padding: 45px;
    text-align: center;

    .subtitle{

    }
  }

  //회원 정보 파트
  .account_info_container {
    position: relative;
    // background-color: aqua;
    width: 80vw;
    margin: 0px auto;

    .informations{
      position: relative;
      // background-color: orange;
      display: flex;
      border: 0.5px solid black;

      @media screen and (max-width: 414px) {
        display: block;
      }

        .info_grade {
          padding: 50px;
          text-align: center;
          margin: 0px;
          font-size: 16px;
          font-weight: 700;
          flex: 1;

          @media screen and (max-width: 414px) {
            padding: 30px;
          }
        }

      .info_description {
        // background-color: red;
        flex: 9;
        padding: 20px;
        font-size: 14px;

        .info_bold {
          font-weight: 700;
        }
      }

    }

    .orderstate_box{
      margin-top: 30px;
      // background-color: antiquewhite;
      display: block;

      .shipping_info_title {
        margin: 0px;
        padding: 10px 20px;
        border-width: 0.5px 0.5px 0.5px 0.5px;
        border-style: solid;
        border-color: black;
        font-size: 15px;

        @media screen and (max-Width: 280px) {
          font-size: 13px;
        }

        span {
          font-size: 13px;
          margin-left: 10px;
          color: rgb(92, 92, 92);
          .threeMonth{
            margin: 0px;
            font-weight: 600;
            color: black;
          }

          @media screen and (max-Width: 280px) {
            font-size: 11px;
          }
        }
      }

      .row2_wrap{
          display: flex;
          text-align: center;
          border-width: 0px 0.5px 0.5px 0.5px;
          border-style: solid;
          border-color: black;
          font-size: 15px;

          @media screen and (max-Width: 280px) {
            font-size: 12px;
          }

        .beforeAcount {
          flex: 1;
          color: black;
          text-decoration: none;
          border-right: 0.5px solid black;
          cursor: pointer;
          &:hover {
            color: rgb(154, 154, 154);
          }
          &:active {
            color: rgb(224, 224, 224);
          }
        }

        .ready {
          flex: 1;
          color: black;
          text-decoration: none;
          border-right: 0.5px solid black;
          cursor: pointer;
          &:hover {
            color: rgb(154, 154, 154);
          }
          &:active {
            color: rgb(224, 224, 224);
          }
        }

        .shipping {
          flex: 1;
          color: black;
          text-decoration: none;
          border-right: 0.5px solid black;
          cursor: pointer;
          &:hover {
            color: rgb(154, 154, 154);
          }
          &:active {
            color: rgb(224, 224, 224);
          }
        }

        .complete {
          flex: 1;
          color: black;
          text-decoration: none;
          cursor: pointer;
          &:hover {
            color: rgb(154, 154, 154);
          }
          &:active {
            color: rgb(224, 224, 224);
          }
        }
      }
      
      .row3_wrap {
        position: relative;
        display: flex;
        // background-color: blueviolet;
        height: 50px;
        border-width: 0px 0.5px 0.5px 0.5px;
        border-style: solid;
        border-color: black;
        font-size: 15px;

        @media screen and (max-Width: 280px) {
          font-size: 12px;
        }

        .cancle {
          display: flex;
          flex: 1;
          color: black;
          text-decoration: none;
          justify-content: space-between;
          align-items: center;
          padding: 0px 20px;
          border-right: 0.5px solid black;
          cursor: pointer;
          &:hover {
            color: rgb(154, 154, 154);
          }
          &:active {
            color: rgb(224, 224, 224);
          }

          @media screen and (max-Width: 280px) {
            display: block;
            text-align: center;
            padding: 10px
          }

          p{
            margin: 0px;
          }
        }

        .change {
          display: flex;
          flex: 1;
          color: black;
          text-decoration: none;
          justify-content: space-between;
          align-items: center;
          padding: 0px 20px;
          border-right: 0.5px solid black;
          cursor: pointer;
          &:hover {
            color: rgb(154, 154, 154);
          }
          &:active {
            color: rgb(224, 224, 224);
          }

          @media screen and (max-Width: 280px) {
            display: block;
            text-align: center;
            padding: 10px
          }

          p{
            margin: 0px;
          }
        }

        .refund {
          display: flex;
          flex: 1;
          color: black;
          text-decoration: none;
          justify-content: space-between;
          align-items: center;
          padding: 0px 20px;
          cursor: pointer;
          &:hover {
            color: rgb(154, 154, 154);
          }
          &:active {
            color: rgb(224, 224, 224);
          }

          @media screen and (max-Width: 280px) {
            display: block;
            text-align: center;
            padding: 10px
          }

          p{
            margin: 0px;
          }
        }
      }
    }

    // .fourBox{
    //   margin-bottom: 21px;
    //   position: relative;
    //   margin-top: 30px;
    //   display: grid;
    //   // background-color: antiquewhite;
    //   grid-template-areas: 
    //   'shopmain_order shopmain_profile'
    //   'shopmain_address shopmain_mypick';
    //   grid-template-columns: repeat(2, 1fr);
    //   grid-template-rows: repeat(2, 1fr);
    //   text-align: center;
    //   gap: 20px;
    //   font-size: 15px;

    //   @media screen and (max-Width: 280px) {
    //     font-size: 13px;
    //   }

    //   .shopmain_order{
    //     grid-area: shopmain_order;
    //     border: 0.5px solid black;
    //     padding: 10px;
    //     width: 100%;
    //     cursor: pointer;
    //     &:hover {
    //       color: rgb(154, 154, 154);
    //     }
    //     &:active {
    //       color: rgb(224, 224, 224);
    //     }
    //   }

    //   .shopmain_profile{
    //     grid-area: shopmain_profile;
    //     border: 0.5px solid black;
    //     padding: 10px;
    //     width: 100%;
    //     cursor: pointer;
    //     &:hover {
    //       color: rgb(154, 154, 154);
    //     }
    //     &:active {
    //       color: rgb(224, 224, 224);
    //     }
    //   }

    //   .shopmain_address{
    //     grid-area: shopmain_address;
    //     border: 0.5px solid black;
    //     padding: 10px;
    //     width: 100%;
    //     cursor: pointer;
    //     &:hover {
    //       color: rgb(154, 154, 154);
    //     }
    //     &:active {
    //       color: rgb(224, 224, 224);
    //     }
    //   }

    //   .shopmain_mypick{
    //     grid-area: shopmain_mypick;
    //     border: 0.5px solid black;
    //     padding: 10px;
    //     width: 100%;
    //     cursor: pointer;
    //     &:hover {
    //       color: rgb(154, 154, 154);
    //     }
    //     &:active {
    //       color: rgb(224, 224, 224);
    //     }
    //   }
    // }

  }

}