.myPage_container {
  position: relative;
  // background-color: antiquewhite;
  width: 100vw;
  height: 700px;

  //타이틀 영역
  .titleArea {
    width: 100vw;
    padding: 50px;
    text-align: center;

    .subtitle{

    }
  }

  //회원 정보 파트
  .account_info_container {
    position: relative;
    background-color: aqua;
    width: 80vw;
    margin: 0px auto;

    .informations{
      position: relative;
      background-color: orange;
      display: flex;
      border: 0.5px solid black;

        .info_grade {
          padding: 50px;
          text-align: center;
          margin: 0px;
          font-size: 16px;
          font-weight: 700;
          flex: 1;
        }

      .info_description {
        // background-color: red;
        flex: 9;
        padding: 20px;
        font-size: 14px;

        .info_bold {
          font-weight: 700;
        }
      }

    }

    .orderstate_box{
      margin-top: 30px;
      // background-color: antiquewhite;
      display: block;

      .shipping_info_title {
        margin: 0px;
        padding: 10px 20px;
        border-width: 0.5px 0.5px 0.5px 0.5px;
        border-style: solid;
        border-color: black;
        font-size: 15px;

        span {
          font-size: 13px;
          margin-left: 10px;
          color: rgb(92, 92, 92);
          .threeMonth{
            margin: 0px;
            font-weight: 600;
            color: black;
          }
        }
      }

      .row2_wrap{
          display: flex;
          text-align: center;
          border-width: 0px 0.5px 0.5px 0.5px;
          border-style: solid;
          border-color: black;
          font-size: 15px;

        .beforeAcount {
          flex: 1;
          color: black;
          text-decoration: none;
          border-right: 0.5px solid black;
        }

        .ready {
          flex: 1;
          color: black;
          text-decoration: none;
          border-right: 0.5px solid black;
        }

        .shipping {
          flex: 1;
          color: black;
          text-decoration: none;
          border-right: 0.5px solid black;
        }

        .complete {
          flex: 1;
          color: black;
          text-decoration: none;
        }
      }
      
      .row3_wrap {
        position: relative;
        display: flex;
        // background-color: blueviolet;
        height: 50px;
        border-width: 0px 0.5px 0.5px 0.5px;
        border-style: solid;
        border-color: black;
        font-size: 15px;

        .cancle {
          display: flex;
          flex: 1;
          color: black;
          text-decoration: none;
          justify-content: space-between;
          align-items: center;
          padding: 0px 20px;
          border-right: 0.5px solid black;

          p{
            margin: 0px;
          }
        }

        .change {
          display: flex;
          flex: 1;
          color: black;
          text-decoration: none;
          justify-content: space-between;
          align-items: center;
          padding: 0px 20px;
          border-right: 0.5px solid black;

          p{
            margin: 0px;
          }
        }

        .refund {
          display: flex;
          flex: 1;
          color: black;
          text-decoration: none;
          justify-content: space-between;
          align-items: center;
          padding: 0px 20px;

          p{
            margin: 0px;
          }
        }
      }
    }
  }

}