nav.navbar_admin {
  position: relative;
  border-right: solid 0.5px black;
  width: 200px;
  flex-shrink: 0;
  display: block;
  min-height: 700px;
  // background-color: blue;
  // border-bottom: 0.5px solid black;

  ul {
    list-style: none;
    padding: 100px 40px;
    
    li{
    margin-bottom: 30px;
    cursor: pointer;
    &:hover {
      color: grey;
    }
   }

   li.on {
    margin-bottom: 30px;
    text-decoration: underline;
    text-underline-offset: 4px; // 텍스트와 밑줄 사이의 간격
    text-decoration-thickness: 1px; // 밑줄의 굵기
    text-decoration-color: black;
    cursor: pointer;
    &:hover {
      color: grey;
    }
   }
  }
}

// 반응형 영역
.navbar_admin_react{
  position: relative;
  width: 100vw;
  height: 50px;
  background-color: beige;
  border-bottom: 0.5px solid black;
  border-left: 0.5px solid black;
  border-right: 0.5px solid black;
}
