.orderList_container{
  position: relative;
  // background-color: beige;
  width: 100vw;
  min-height: 700px;

  .titleArea{
    width: 100vw;
    padding: 50px;
    text-align: center;

    .subtitle{

    }
  }

  .order_info_wrap {
    position: relative;
    // background-color: aqua;
    width: 50vw;
    margin: 0px auto;
    margin-bottom: 262px;

    @media screen and (max-width:1000px) {
      width: 70vw;
    }

    @media screen and (max-width:510px) {
      width: 90vw;
    }

    .order_info_category{
      display: flex;
      font-size: 15px;

      @media screen and (max-width:280px) {
        font-size: 13px;
      }

      .order_list_check {
        margin-right:  20px;
        cursor: pointer;
        &:hover{
          color: gray;
        }
        &:active{
          color: rgb(213, 213, 213);
        }

        @media screen and (max-width:280px) {
          margin-right: 10px;
        }
      }

      .order_list_check.on {
        margin-right:  20px;
        cursor: pointer;
        text-decoration: underline;
        &:hover{
          color: gray;
        }
        &:active{
          color: rgb(213, 213, 213);
        }

        @media screen and (max-width:280px) {
          margin-right: 10px;
        }
      }

        .cancle_list_check {
        margin-right:  20px;
        cursor: pointer;
        &:hover{
          color: gray;
        }
        &:active{
          color: rgb(213, 213, 213);
        }

        @media screen and (max-width:280px) {
          margin-right: 10px;
        }
      }

        .cancle_list_check.on {
        margin-right:  20px;
        cursor: pointer;
        text-decoration: underline;
        &:hover{
          color: gray;
        }
        &:active{
          color: rgb(213, 213, 213);
        }

        @media screen and (max-width:280px) {
          margin-right: 10px;
        }
      }
    }

    .orderlist_Check_wrap{
      position: relative;
      // background-color: bisque;
      border: 0.5px solid black;
      margin-top: 20px;
      padding-bottom: 10px;

      .older_date{
        margin: 5px 0px;
        margin-left: 10px;
        font-size: 15px;
      }

      .older_image_info{
        // background-color: blueviolet;
        padding: 0px 10px;
        display: flex;

        .older_image{
          width: 100px;
          height: 100px;
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;

          @media screen and (max-width:332px) {
            background-size: contain;;
          }
        }

        .pdnameprice{
          font-size: 15px;
          position: relative;
          margin: auto 0px;
          margin-left: 10px;

          .pdname {
            font-weight: 600;
          }

          .pdprice{
            font-size: 12px;
          }
          p{
            margin: 0px;
          }
        }
      }

      .infoCancelContainer {
        position: relative;
        margin-top: 50px;
        // background-color: beige;
        text-align: right;
        padding: 0px 15px;

        .older_detail_info{
          font-size: 15px;
          margin-left: 15px;
          margin-top: 10px;
        }
  
        .status{
          margin-left: 15px;
          font-size: 15px;
          font-weight: 700;
        }
  
        .orderCancle{
          all: unset;
          cursor: pointer;
          padding: 5px 10px;
          border: 0.5px solid black;
          font-size: 13px;
          background-color: white;
          font-weight: 500;
          transition: 0.3s ease;
          
          &:hover {
            color: white;
            background-color: black;
          }
  
          &:active {
            background-color: rgb(226, 226, 226);
          }
        }
  
        .orderCancelInfo {
          font-size: 12px;
          margin-top: 15px;
          margin-bottom: 0px;

          @media screen and (max-width: 280px) {
            font-size: 10px;
          }
        }
      }
      
    }
  }
}