.whol_Container{
  position: relative;
  // background-color: beige;
  width: 100vw;
  overflow: hidden;

    .mainTitle{
      position: relative;
      margin-bottom: 0px;
      text-align: center;
      font-size: 20px;
      font-weight: 600;
      padding: 30px;
      // background-color: aqua;
      width: 90vw;
    }

    .subMenu {
      position: relative;
      // background-color: beige;
      width: 87vw;
      display: flex;
      justify-content: space-between;
      padding: 0px 20px;

      .selector {
        .selector_order {
          cursor: pointer;

          &:hover {
            color: rgb(149, 149, 149);
          }
        }
        .selector_order_on {
          cursor: pointer;
          text-decoration: underline;
          text-underline-offset: 3px;
          text-decoration-thickness: 1px;

          &:hover {
            color: rgb(149, 149, 149);
          }
        }

        .selector_cancel {
          cursor: pointer;

          &:hover {
            color: rgb(149, 149, 149);
          }
        }
        .selector_cancel_on {
          cursor: pointer;
          text-decoration: underline;
          text-underline-offset: 3px;
          text-decoration-thickness: 1px;

          &:hover {
            color: rgb(149, 149, 149);
          }
        }
      }

      .totalOrderCount {
        position: relative;
        font-size: 15px;
        font-weight: 600;
        // background-color: antiquewhite;
      }

    }
    

    .list_ul_wrap{
    position: relative;
    // background-color: orange;
    width: 88.5vw;
    margin: 0px auto;
    // border: 0.5px solid black;
    padding: 0px 20px;

      .list_li{
        display: grid;
        gap: 10px;
        grid-template-columns: 50px 1fr 1.1fr 0.8fr 0.6fr 0.5fr;
        font-size: 15px;
        padding: 5px 0px;
        list-style: none;
        border-bottom: 0.5px solid rgb(132, 132, 132);
        cursor: pointer;

        &:hover {
          background-color: rgb(210, 210, 210);
        }

        p{
          margin-bottom: 0px;
          border-right: 0.5px solid rgb(132, 132, 132);
        }
      }
    }

    .list_ul_wrap_Cancel{
      position: relative;
      // background-color: orange;
      width: 88.5vw;
      margin: 0px auto;
      // border: 0.5px solid black;
      padding: 0px 20px;
  
        .list_li{
          display: grid;
          gap: 10px;
          grid-template-columns: 50px 0.6fr 1fr 0.55fr 0.3fr 0.8fr;
          font-size: 15px;
          padding: 5px 0px;
          list-style: none;
          border-bottom: 0.5px solid rgb(132, 132, 132);
          cursor: pointer;
  
          &:hover {
            background-color: rgb(210, 210, 210);
          }
  
          p{
            margin-bottom: 0px;
            border-right: 0.5px solid rgb(132, 132, 132);
          }
        }
      }
}