div.productRegister_admin {
  position: relative;
  width: 100vw;
  // background-color: bisque;

  .register_container {
    display: inline-block;
    position: relative;
    // background-color: aqua;
    margin-left: 50px;

    input {
      display: block;    
      width: 600px;
      height: 27px;
      border: 1px solid black; 
      font-size: 12px;
      padding-left: 10px;
    }
    
    // 각 셀렉터 및 인풋 컨트롤
    .indi_container { 
      width: 865px;;
      position: relative;
      display: flex;
      margin-bottom: 30px;
      align-items: center;
      justify-content: space-between;
      padding: 0px 20px;
      // background-color: aqua;
    }
  
    .indi_container_title{
      width: 865px;;
      position: relative;
      display: flex;
      margin-bottom: 30px;
      margin-left: 20px;
      align-items: center;
      justify-content: center;

      .mainTitle {
      font-size: 20px;
      font-weight: 600;
      padding: 20px;
      }
    }
   

      .kind_title {
        margin-bottom: 0px;
      }
      .kind_selectBox{
        p {
          margin-bottom: 0px;
        }
        .selectBoxContent{
          width: 600px;
          height: 27px;
          border: 1px solid black; 
          font-size: 12px;
          padding-left: 5px;
        }
      }

      .pd_uniqueCode_title{
       margin-bottom: 0px;
      }
      .pd_uniqueCode_input {
        p{
          margin-bottom: 0px;
        }
      }
    
      .pd_name_title{
       margin-bottom: 0px;
      }
      .pd_name_input {
        p{
          margin-bottom: 0px;
        }  
      }

      .pd_price_title{
       margin-bottom: 0px;
      }
      .pd_price_input {
        p{
          margin-bottom: 0px;
        }    
      }

      .pd_OS_title{
        margin-bottom: 0px;
       }
       .pd_OS_Input {
         p{
           margin-bottom: 0px;
         }    
       }

      
       .pd_S_title{
        margin-bottom: 0px;
       }
       .pd_S_Input {
         p{
           margin-bottom: 0px;
         }    
       }

       .pd_M_title{
        margin-bottom: 0px;
       }
       .pd_M_Input {
         p{
           margin-bottom: 0px;
         }    
       }

       .pd_L_title{
        margin-bottom: 0px;
       }
       .pd_L_Input {
         p{
           margin-bottom: 0px;
         }    
       }


      .imgWrap{
        position: relative;
        padding: 0px 20px;
        padding-bottom: 70px;
        width: 865px;
        // background-color: aqua;

        .imgTitle{
          position: relative;
          font-size: 18px;
          text-align: center;
          letter-spacing: 5px;

          .subDesc{
            font-size: 13px;
            letter-spacing: normal
          }
        }
  
        .previewContainer {
          position: relative;
          display: flex;
          width: 825px;
          height: 180px;
          padding: 10px;
          // background-color: aqua;
          border: 0.5px solid black;
        }
  
        .subText {
          padding: 0px 63px;
        }
  
  
        .select_btn {
          margin: 0px auto;
          margin-top: 20px;
          position: relative;
          display: block;
          width: 800px;
          border: 1.5px solid black;
          background-color: white;
          color: black;
          border-radius: 60px;
          line-height: 20px;
          
          &:hover {
            background-color: black;
            color: white;
          } 
        }

        .detail_desc_container{
          position: relative;
          margin: 0px auto;
          margin-top: 50px;
          margin-bottom: 30px;
      
          .detail_desc_title{
            margin-bottom: 0px;
          }
      
          textarea {
            resize: none;
            font-size: 13px;
            padding: 8px;   
            border: 1px solid black;
            }  
        }

        .save_btn {
          position: relative;
          display: block;
          width: 820px;
          margin: 0px auto;
          margin-top: 20px;
          border: 1.5px solid black;
          border-radius: 60px;
          background-color: black;
          color: white;
          line-height: 20px;
          
          &:hover {
            background-color: white;
            color: black;
           }
          }
      }
  }
}