.whol_Container{
  position: relative;
  // background-color: beige;
  overflow: hidden;
  width: 90vw;

    .mainTitle{
      position: relative;
      display: block;
      margin-bottom: 0px;
      text-align: center;
      font-size: 20px;
      font-weight: 600;
      padding: 30px;
      // background-color: aqua;
    }

    .subMenu {
      position: relative;
      display: flex;
      justify-content: space-between;
      padding: 0px 20px;

      .selector {
        .selector_order {
          cursor: pointer;

          &:hover {
            color: rgb(149, 149, 149);
          }
        }
        .selector_order_on {
          cursor: pointer;
          text-decoration: underline;
          text-underline-offset: 3px;
          text-decoration-thickness: 1px;

          &:hover {
            color: rgb(149, 149, 149);
          }
        }

        .selector_cancel {
          cursor: pointer;

          &:hover {
            color: rgb(149, 149, 149);
          }
        }
        .selector_cancel_on {
          cursor: pointer;
          text-decoration: underline;
          text-underline-offset: 3px;
          text-decoration-thickness: 1px;

          &:hover {
            color: rgb(149, 149, 149);
          }
        }
      }

      .totalOrderCount {
        position: relative;
        font-size: 15px;
        font-weight: 600;
        // background-color: antiquewhite;
      }

    }
    

    .list_ul_wrap{
    position: relative;
    // background-color: orange;
    margin: 0px auto;
    padding: 0px 20px;

    .index_desc {
      margin-bottom: 5px;
      font-size: 13px;
    }

    .listHeader {
      display: flex;
      gap: 5px;
      text-align: center;
      font-size: 13px;
      padding: 5px 0px;
      list-style: none;
      border-bottom: 0.5px solid rgb(132, 132, 132);
      border-top: 0.5px solid rgb(132, 132, 132);
      font-weight: 600;

        p{
          margin-bottom: 0px;
          border-right: 0.5px solid rgb(132, 132, 132);

          &:first-child{
            flex: 0.2;
          }
          &:nth-child(2){
            flex: 0.2;
          }
          &:nth-child(3){
            flex: 1;
          }
          &:nth-child(4){
            flex: 1;
          }
          &:nth-child(5){
            flex: 0.4;
          }
          &:nth-child(6){
            flex: 0.5;
          }
          &:nth-child(7){
            flex: 0.3;
          }
          &:nth-child(8){
            flex: 1.5;
          }
          &:nth-child(9){
            flex: 0.6;
          }
          &:nth-child(10){
            flex: 0.8;
          }
          &:last-child{
            flex: 0.7;
          }
        }
    }


      .list_li{
        display: flex;
        font-size: 12px;
        gap: 5px;
        padding: 5px 0px;
        list-style: none;
        // border-bottom: 0.5px solid rgb(132, 132, 132);
        cursor: pointer;

        &:hover {
          background-color: rgb(210, 210, 210);
        }

        p{
          text-align: left;
          margin-bottom: 0px;
          border-right: 0.5px solid rgb(132, 132, 132);
          word-break: break-all;

          &:first-child{
            flex: 0.2;
            text-align: center;
          }
          &:nth-child(2){
            flex: 0.2;
            text-align: center;
          }
          &:nth-child(3){
            flex: 1;
          }
          &:nth-child(4){
            flex: 1;
          }
          &:nth-child(5){
            flex: 0.4;
          }
          &:nth-child(6){
            flex: 0.5;
          }
          &:nth-child(7){
            flex: 0.3;
          }
          &:nth-child(8){
            flex: 1.5;
          }
          &:nth-child(9){
            flex: 0.6;
          }
          &:nth-child(10){
            flex: 0.8;
          }
          &:last-child{
            flex: 0.7;
          }
        }
      }

      .orderInputWrap{
        position: relative;
        padding: 10px 10px;
        border-bottom: 0.5px solid rgb(132, 132, 132);

        .orderShippingCodeInput_title{
          font-size: 15px;
        }
        .orderShippingCodeInput{
          position: relative;
          width: 50vw;
          font-size: 15px;
          padding: 0px 5px;
        }
        .shippingCodeBtn{
          position: relative;
          all: unset;
          cursor: pointer;
          padding: 2px 10px;
          border: 0.5px solid black;
          font-size: 13px;
          background-color: rgb(0, 0, 0);
          font-weight: 500;
          transition: 0.3s ease;
          color: white;
          margin-left: 10px;
          
          &:hover {
            color: rgb(0, 0, 0);
            background-color: rgb(255, 255, 255);
          }
  
          &:active {
            background-color: rgb(226, 226, 226);
            color:rgb(226, 226, 226);
          }
        }
      }
    }

    .list_ul_wrap_Cancel{
      position: relative;
      // background-color: orange;
      width: 88.5vw;
      margin: 0px auto;
      // border: 0.5px solid black;
      padding: 0px 20px;
  
        .list_li{
          display: grid;
          gap: 10px;
          grid-template-columns: 50px 0.6fr 1fr 0.55fr 0.3fr 0.8fr;
          font-size: 15px;
          padding: 5px 0px;
          list-style: none;
          border-bottom: 0.5px solid rgb(132, 132, 132);
          cursor: pointer;
  
          &:hover {
            background-color: rgb(210, 210, 210);
          }
  
          p{
            margin-bottom: 0px;
            border-right: 0.5px solid rgb(132, 132, 132);
          }
        }
      }
}